h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-weight: bolder;
    font-size: 60px;
    font-stretch: extra-expanded;
    background-color: seashell;
    opacity: 60%;
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 24px;  
    color: blanchedalmond;
    text-decoration: none;
}

h3 {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}